{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
  <h3>This is my archive</h3>
  {{ parent() }}
{% endblock %}

{% block header %}
  <div class="wrapper">
    <h1 class="hdr-logo" role="banner">
      <a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
    </h1>
    <nav id="nav-main" class="nav-main" role="navigation">
        {% include "menu.twig" with {'menu': menu.get_items} %}
    </nav><!-- #nav -->
  </div>
{% endblock %}